%div{ 'ng-controller' => 'NotificationCrtl' }
  %h1 Challenge of the Week
  %div= flash[:notice]
  %div{ 'ng-bind-template' => '{{message}}' }

%div{ 'ng-controller' => 'CurrentChallengeCrtl' }
  %form
    %label Content
    %input{ :type => 'content', :id => 'content', 'ng-model' => 'challenge.content' }
    %input{ :type => 'submit', :value => 'Edit', 'ng-click' => 'edit()' }

%div{ 'ng-controller' => 'EntryListCrtl' }
  %h3 Current Entries
  %ul
    %li{ 'ng-repeat' => 'entry in entries' }
      %p {{ entry.title }}

  %h3 Add an entry!
  %form
    %label Title
    %input{ :type => 'text', :id => 'title', 'ng-model' => 'entry.title' }
    %input{ :type => 'submit', :value => 'Submit', 'ng-click' => 'submit()' }
