%div{ 'ng-controller' => 'NotificationCrtl' }
  %div{ 'ng-bind-template' => '{{message}}' }

%section#challenge-week
  %article{ 'ng-view' => '' }


%script{ :type => 'text/ng-template', :id => 'current_challenge.html' }
  %header
    %h3 Challenge of the Week
    %h2 {{challenge.title}}
  %section
    %p  {{challenge.content}}
    %a{ :href => '#/edit' } Edit
  %section#current-entries{ 'ng-controller' => 'EntryListCrtl' }
    %header
      %h3 Current Entries
    %section
      %article{ 'ng-repeat' => 'entry in entries' }
        %p {{ entry.title }}

    %section#add-challenge
      %header
        %h3 Add an entry!
      %section
        %form.form-inline
          %input{ :type => 'text', :placeholder => 'Title', :id => 'title', 'ng-model' => 'entry.title' }
          %button.btn{ :type => 'submit', 'ng-click' => 'submit()' } Submit

%script{ :type => 'text/ng-template', :id => 'edit_challenge.html' }
  %form
    %label{ :for => 'title' } Title
    %input{ :type => 'text', :name => 'title', 'ng-model' => 'challenge.title' }
    %label{ :for => 'content' } Content
    %textarea{ :name => 'content', :rows => 20, :cols => 80, 'ng-model' => 'challenge.content' }
    .form-actions
      %button.btn.btn-primary{ :type => 'submit', 'ng-click' => 'edit()' } Save
      %button.btn{ :type => 'submit', 'ng-click' => 'cancel()' } Cancel
