%section#add-challenge
  %header
    %h3 Add an entry!
  %section
    %form
      %label{ :for => 'description' } Description
      %input{ :type => 'text', :placeholder => 'Description', :id => 'description', 'ng-model' => 'entry.description' }
      %label{ :for => 'language' } Language
      %select{ :name => 'language', 'ng-model' => 'entry.language' }
        %option{ :value => '', :disabled => 'disabled' }
          Select the programming language... 
        - SupportedLanguages.all.each do |language|
          %option= language
      %label{ :for => 'content' } Content
      %textarea{ :name => 'content', :rows => 20, :cols => 80, 'ng-model' => 'entry.content' }

    .form-actions
      %button.btn.btn-primary{ :type => 'submit', 'ng-click' => 'submit()' } Submit
      %button.btn{ :type => 'submit', 'ng-click' => 'cancel()' } Cancel
