%header
  %h3 Challenge of the Week
  %h2 {{challenge.title}}
%section
  %p  {{challenge.content}}
  %a{ :href => '#/edit' } Edit
%section#current-entries{ 'ng-controller' => 'EntryListCrtl' }
  %header
    %h3 Current Entries
  %section
    %article{ 'ng-repeat' => 'entry in entries' }
      %p {{ entry.description }} ({{ entry.language }})
      %p by {{ entry.author.nickname }} 
      %p{ 'ng-bind-html-unsafe' => 'entry.content' }
    %a{ :href => '#/new' } Add Your Entry!
