%header.title
  %h2 Building {{challenge.title}}
  %h3
    %span.tag coding challenge of the week
%section#current-content
  %p  {{challenge.content}}
  %a{ :href => '#/edit', :style => 'float:left' } Edit
  %a.add-button{ :href => '#/new' } Add Your Entry!
%section#current-entries{ 'ng-controller' => 'EntryListCrtl' }
  %header
    %h3 The Current Contenders
  %section
    %article{ 'ng-repeat' => 'entry in entries' }
      %p Entry in {{ entry.language }} by {{ entry.author.nickname }} 
      %p{ 'ng-bind-html-unsafe' => 'entry.content' }
